$color-primary-green:#7ed56f;
$color-primary: #55c57a;
$color-dark-green:#28b485;
$color-white:#fff;
$color-grey:#777;
$debug-border:1px solid red;
$color-black:#000;
$color-light-grey:#f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3:rgb(119, 119, 119);
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-teritiary-light:#2998ff;
$color-teritiary-dark:#5643fa;

$color-black:#000;
/*
 custom grid 
*/

$grid-width:71.25rem;
$gap-between-cols:3rem;
$gap-between-rows:5rem;