/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/



/*


  base : animations,resets, typography,uitils
  abstracts: variables , mixins, @extends 
  components: reusable styles like buttons, dropdowns
  layout: header, footer (things that can be reused)
  pages:- page speecific information
  themes: different themes
  vendors: third party things
*/


@import "./abstracts/variables";
@import "./abstracts/mixins";


@import "./base/base";
@import "./base/animations";
@import "./base/utillities";
@import "./base/typography";

@import "./components/button";
@import "./components/composition";
@import "./components/feature";
@import "./components/card";
@import "./components/story";
@import "./components/bgvideo";
@import "./components/form";
@import "./components/popup";

@import "./layout/header";
@import "./layout/customgrid";
@import "./layout/footer";
@import "./layout/navigation";



@import "./page/home"


